---
import Layout from '../layouts/Layout.astro';
---

<Layout 
  pageTitle="Home" 
  pageDescription="We are group of experts that will help you bring your ideas to life. Let's create something great together!"
>
  <div class="hero-section">
    <div class="container">
      <h1 class="hero-section__title">You Dream It, We Build It</h1>
      <p class="hero-section__subtitle">We are group of experts that will help you bring your ideas to life. Let's create something great together!</p>
      <a href="/contact" class="header__cta">DISCOVER MORE</a>
    </div>
  </div>
</Layout>
