---
import "../styles/components/about-hero.css";
---

<section class="about-hero" id="about-hero">
  <div class="about-hero__container">
    <h1 class="about-hero__title" data-animate="fade-up">
      We translate <span>Our Clients Dreams Into Reality</span>
    </h1>
    <p class="about-hero__text" data-animate="fade-up" data-delay="0.2">
      We founded and developed Tenomad with all the aspirations of youth Tenomad
      means "Digital Nomad" – that is the spirit of dare to think, dare to do,
      not afraid challenges and difficulties of youth. Tenomad always believe
      every way technology or product, despite of short or long way, it has to
      begin from the smallest step and face certain difficulties. Because of
      that thinking, Tenomad really want to do a small part for development to
      create quality products from the unique initiative of the client. If they
      expect build technology products to solve problems in real life then we
      will make the big change for them from "people see things happen" becomes
      "who makes things happening." And finally, Tenomad would like send all
      those emotions into the product that we will develop for our customers!
      Hopefully Tenomad will progress so strong to certificate if what the world
      can do it then the younger generations of Vietnam absolutely can do it.
    </p>
  </div>
</section>
